@font-face {
    font-family: 'VinMonoProB';
    src: url('VinMonoPro-Bold.woff2.html');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'VinMonoProM';
    src: url('VinMonoPro-Medium.woff2.html');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VinMonoProR';
    src: url('VinMonoPro-Regular.woff2.html');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'VinMonoProSB';
    src: url('VinMonoPro-SemiBold.woff2.html');
    font-weight: 600;
    font-style: normal;
}

